<footer>
<small>
  All works of fiction discussed and their associated characters and media are the properties of their respective owners.<br />The Wise Ones makes no claim to these properties, and believes all discussion of these characters and<br />supporting media falls under fair use rights.
  <br /><br />
  Copyright &copy; <%= branding_data.copyright_year %>, <a href="https://called2voyage.bluesharkfriends.com/"><%= branding_data.copyright_holder %></a>. All rights reserved.
</small>
</footer>

<div class="poweredby">
  <div class="cardlink">
    <a href="https://shiver.bluesharkfriends.com"><span class="linkspan"></span></a>
    <div class="fitcontent">
        <p><small class="bytext">powered by</small><br /><em>Shiver</em><br /><small class="subtext">A community web framework</small></p>
        <img src="images/favicon.png" width="35px" />
    </div>
  </div>
</div>