<title><%= branding_data.full_site_name %> - <%= typeof title != 'undefined' ? title : 'Untitled' %></title>
<!--<link rel="shortcut icon" type="image/x-icon" href="images/<%= branding_data.icon_img %>" />-->
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
<meta name="description" content="<%= typeof description != 'undefined' ? description : branding_data.full_site_name %>">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/site.js"></script>