<h1><%= branding_data.full_site_name %></h1>
<% var page = typeof title != 'undefined' ? title : 'Untitled' %>
<% if(page === "Home") { %><% } else { %><h2 style="<% if(page === "About") { %>margin-top: 0;<% } %>"><%= typeof subheading != 'undefined' ? subheading : 'Untitled' %></h2><% } %>